body, nav, ul, li, a, p {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
}
.container {
	max-width: 200px;
	margin: 10px auto;
}
.toggleMenu {
	display: none;
	background: #666;
	padding: 10px 15px;
	color: #fff;
	width: 100%;
}
.nav {
	list-style: none;
	*zoom: 1;
	background: #175e4c;
}
.nav:before, .nav:after {
	content: " ";
	display: table;
}
.nav:after {
	clear: both;
}
.nav ul {
	list-style: none;
	width: 9em;
}
.nav a {
	padding: 10px 15px;
	color: #fff;
}
.nav li {
	position: relative;
}
.nav > li {
	float: none;
	border-top: 1px solid #104336;
}
.nav > li > .parent {
	background-image: url("images/downArrow.png");
	background-repeat: no-repeat;
	background-position: 90% 50%;
}
.nav > li > a {
	display: block;
}
.nav li  ul {
	position: absolute;
	left: -9999px;
}
.nav > li.hover > ul {
	left: 100%;
	top: 0;
}
.nav li li.hover ul {
	left: 100%;
	top: 0;
}
.nav li li a {
	display: block;
	background: #1d7a62;
	position: relative;
	z-index: 100;
	border-top: 1px solid #175e4c;
}
.nav li li li a {
	background: #249578;
	z-index: 200;
	border-top: 1px solid #1d7a62;
}

/*
 * responsive design
 */
.header {
	background-color: #CCC;
	height: 150px;
}
.content {
	background-color: #FFC;
	display: inline-block;
	width: 600px;
	text-align: left;
	vertical-align: top;
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}
.sidebar {
	background-color: #AAC;
	display: inline-block;
	width: 200px;
	text-align: left;
	vertical-align: top;
	/* For IE 7 */
	zoom: 1;
	*display: inline;
}

#middlewrap, .sidebar, .content, h2 {
	margin: 0;
	padding: 0;
}

.footer {
	background-color: #BFC;
	clear: both;
	height: 150px;
}
#wrap {
	color: #69C;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#middlewrap {
	text-align: center;
}

/* for 980 or less */
@media screen and (max-width: 980px) {
	#pagewrap {
		width: 94%;
	}
	.content {
		width: 65%;
	}
}

/* for 700 or less*/
@media screen and (max-width: 740px) {
	.content {
		width: auto;
	}
	.sidebar {
		width: 100%;
	}	
	.container {
		max-width: 900px;
		width: auto;
		margin: 0;
	}
	.active {
		display: block;
	}
	.nav > li {
		float: none;
	}
	.nav > li > .parent {
		background-position: 95% 50%;
	}
	.nav li li .parent {
		background-image: url("images/downArrow.png");
		background-repeat: no-repeat;
		background-position: 95% 50%;
	}
	.nav ul {
		display: block;
		width: 100%;
	}
	.nav > li.hover > ul, .nav li li.hover ul {
		position: static;
	}
	
}

/* for 480 or less*/
@media screen and (max-width: 480px) {
	.header {
		height: auto;
	}
	.sidebar {
		display: auto;
		width: 100%;
	}
	
	.container {
		max-width: 900px;
		width: auto;
		margin: 0;
	}
	.active {
		display: block;
	}
	.nav > li {
		float: none;
	}
	.nav > li > .parent {
		background-position: 95% 50%;
	}
	.nav li li .parent {
		background-image: url("images/downArrow.png");
		background-repeat: no-repeat;
		background-position: 95% 50%;
	}
	.nav ul {
		display: block;
		width: 100%;
	}
	.nav > li.hover > ul, .nav li li.hover ul {
		position: static;
	}	
}
